html {
    /* 灰色滤镜，适用于纪念日 */
    /* filter: grayscale(100%);
    filter: progid:DXlmageTransform.Microsoft.Basiclmage(grayscale=1);

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(1); */
}
body {
    /* CSS3 抗锯齿形 让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
}
button {
    cursor: pointer;
}
code {
    font-family: consolas !important;
    font-size: 1rem !important;
}
[class^='lang'] {
    font-family: consolas !important;
    font-size: 0.8rem !important;
    line-height: 1.1rem !important;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
}

h1 {
    font-size: 1.6rem !important;
}
h2 {
    font-size: 1.4rem !important;
}
h3 {
    font-size: 1.3rem !important;
}
h4 {
    font-size: 1.2rem !important;
}
h5 {
    font-size: 1.1rem !important;
}
img {
    display: block;
    text-align: center;
    margin: auto;
}
.katex {
    font-size: 1.1rem !important;
}
.scroll-to-top {
    border-color: #bbbbbb !important;
    color: #bbbbbb !important;
    font-size: 2rem !important;
}
.scroll-to-top:hover {
    border-color: var(--theme-color) !important;
    background-color: var(--theme-color) !important;
    color: #fff !important;
    font-size: 2rem !important;
}
.show-html {
    border:1px solid #ccc;
    padding: 0px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2)
}
.show-html::after {
    /* 清除浮动，保证元素正常显示 */
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
